<ul class="courses_list">
  
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{course.img}}" alt="{{course.title}}">
  <div class="card-body">
    <h5 class="card-title">{{course.title}}</h5>
    <p class="card-text">{{course.dcr}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</ul>